{% load staticfiles %}
<html>
<head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/desktop.css' %}">


<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>

</head>

<title>Agustin Armanino</title>

<body>
        <div class="wrapper">

            <div class="sideMenu">
                <div class="hidden-xs col-sm-3">
                    <div class="fading-side-menu" data-spy="affix">
                        <h3 class="sidebarMenuTitle">Agustin Armanino</h3><hr class="no-margin">
                        <ul class="list-unstyled">
                            <li class="sidebarItems">
                                <a href="#intro">
                                  <span class="sideMenuText">test</span>
                                </a>
                            </li>
                            <li>
                                <a href="#getting-started">
                                  <span class="sideMenuText">editorial</span>
                                </a>
                            </li>
                            <li>
                                <a href="#setting-up-our-page">
                                  <span class="sideMenuText">personal</span>
                                </a>
                            </li>
                            <li>
                                <a href="#conclusion">
                                  <span class="sideMenuText">video</span>
                                </a>
                            </li>
                            <li>
                                <a href="#conclusion">
                                  <span class="sideMenuText">contacto</span>
                                </a>
                            </li>
                            <li>
                                <a href="#conclusion">
                                  <span class="sideMenuText">instagram</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        <div id="navbarWrapper">
            <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
              <a class="navbar-brand" href="#">Agustin Armanino</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">test <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">editorial</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">personal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">video</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">contacto</a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="15000". onclick="changePic()">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="img-fluid" id="carouselImg" src="/static/img/test_4.jpg" alt="Responsive image">
            </div>
            <div class="carousel-item">
              <img class="img-fluid" id="carouselImg" src="/static/img/personal_2.jpg" alt="Responsive image">
            </div>
            <div class="carousel-item">
              <img class="img-fluid" id="carouselImg" src="/static/img/editorial_3.jpg" alt="Responsive image">
            </div>
            <div class="carousel-item">
              <img class="img-fluid" id="carouselImg" src="/static/img/test_1.jpg" alt="Responsive image">
            </div>
            <div class="carousel-item">
              <img class="img-fluid" id="carouselImg" src="/static/img/test_3.jpg" alt="Responsive image">
            </div>
            <div class="carousel-item">
              <img class="img-fluid" id="carouselImg" src="/static/img/test_5.jpg" alt="Responsive image">
            </div>
                          <div class="carousel-item">
              <img class="img-fluid" id="carouselImg" src="/static/img/personal_5.jpg" alt="Responsive image">
            </div>
                          <div class="carousel-item">
              <img class="img-fluid" id="carouselImg" src="/static/img/personal_3.jpg" alt="Responsive image">
            </div>
                          <div class="carousel-item">
              <img class="img-fluid" id="carouselImg" src="/static/img/personal_1.jpg" alt="Responsive image">
            </div>
          </div>
        </div>


        <div id="mobilePicsWrapper">
              <img class="img-fluid" id="mobileImg" src="/static/img/test_4.jpg" alt="Responsive image"><br>
              <img class="img-fluid" id="mobileImg" src="/static/img/personal_2.jpg" alt="Responsive image"><br>
              <img class="img-fluid" id="mobileImg" src="/static/img/editorial_3.jpg" alt="Responsive image"><br>
              <img class="img-fluid" id="mobileImg" src="/static/img/test_1.jpg" alt="Responsive image"><br>
              <img class="img-fluid" id="mobileImg" src="/static/img/test_3.jpg" alt="Responsive image"><br>
              <img class="img-fluid" id="mobileImg" src="/static/img/test_5.jpg" alt="Responsive image"><br>
              <img class="img-fluid" id="mobileImg" src="/static/img/personal_5.jpg" alt="Responsive image"><br>
              <img class="img-fluid" id="mobileImg" src="/static/img/personal_3.jpg" alt="Responsive image"><br>
              <img class="img-fluid" id="mobileImg" src="/static/img/personal_1.jpg" alt="Responsive image"><br>
        </div>

</body>
</html>