@media (min-width: 2049px) and (max-width: 4096px){


.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    margin-top:20px;
    width: 8%;
    float:left; /* add this */
    display: block;
    #border: 2px solid black;
}

.sideMenuText{
     color:black;
     font-size:40px;
}

.sidebarMenuTitle{
    font-size: 60px;
}

#carouselExampleSlidesOnly {
    margin-top:60px;
    display: block;
    width:2944px;
    height:1656px;
    margin-left: 20%;
    margin-right: auto;
    #border: 2px solid red;
}

#carouselImg{
    display:table;
    max-width:2944px;
    max-height:1656px;
    width: auto;
    height: auto;
    #border: 2px solid red;
    margin-left:auto;
    margin-right: auto;
}

#navbarWrapper{
    display:none;
}


#mobilePicsWrapper{
    display:none;
}

}


@media (min-width: 1921px) and (max-width: 2048px){


.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    margin-top:20px;
    width: 8%;
    float:left; /* add this */
    display: block;
    #border: 2px solid black;
}

.sideMenuText{
     color:black;
     font-size:15px;
}

.sidebarMenuTitle{
    font-size: 28px;
}

#carouselExampleSlidesOnly {
    margin-top:30px;
    display: block;
    width:1664px;
    height:936px;
    margin-left: 10%;
    margin-right: auto;
    #border: 2px solid red;
}

#carouselImg{
    display:table;
    max-width:1664px;
    max-height:936px;
    width: auto;
    height: auto;
    #border: 2px solid red;
    margin-left:auto;
    margin-right: auto;
}

#navbarWrapper{
    display:none;
}


#mobilePicsWrapper{
    display:none;
}

}


@media (min-width: 1601px) and (max-width: 1920px){


.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    margin-top:20px;
    width: 8%;
    float:left; /* add this */
    display: block;
    #border: 2px solid black;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    margin-top:30px;
    display: block;
    width:1536px;
    height:864px;
    margin-left: 10%;
    margin-right: auto;
    #border: 2px solid red;
}

#carouselImg{
    display:table;
    max-width:1408px;
    max-height:792px;
    width: auto;
    height: auto;
    #border: 2px solid red;
    margin-left:auto;
    margin-right: auto;
}

#navbarWrapper{
    display:none;
}


#mobilePicsWrapper{
    display:none;
}

}

@media (min-width: 1441px) and (max-width: 1600px){

.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    margin-top:20px;
    width: 8%;
    float:left; /* add this */
    display: block;
    #border: 2px solid black;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    margin-top:20px;
    display: block;
    width:1280px;
    height:720px;
    margin-left: 11%;
    margin-right: auto;
    #border: 2px solid red;
}

#carouselImg{
    display:table;
    max-width:1280px;
    max-height:720px;
    width: auto;
    height: auto;
    #border: 2px solid red;
    margin-left:auto;
    margin-right: auto;
}
#navbarWrapper{
    display:none;
}


#mobilePicsWrapper{
    display:none;
}

}

@media (min-width: 1281px) and (max-width: 1440px){

.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    margin-top:20px;
    width: 8%;
    float:left; /* add this */
    display: block;
    #border: 2px solid black;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    margin-top:40px;
    display: block;
    width:1280px;
    height:720px;
    margin-left: 8%;
    margin-right: auto;
    #border: 2px solid red;
}

#carouselImg{
    display:table;
    max-width:1280px;
    max-height:720px;
    width: auto;
    height: auto;
    #border: 2px solid red;
    margin-left:auto;
    margin-right: auto;
}
#navbarWrapper{
    display:none;
}


#mobilePicsWrapper{
    display:none;
}

}

@media (min-width: 1025px) and (max-width: 1280px){

.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    margin-top:20px;
    width: 8%;
    float:left; /* add this */
    display: block;
    #border: 2px solid black;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    margin-top:10%;
    display: block;
    width:1152px;
    height:648px;
    margin-left: 9%;
    margin-right: auto;
    #border: 2px solid red;
}

#carouselImg{
    display:table;
    max-width:1152px;
    max-height:648px;
    width: auto;
    height: auto;
    #border: 2px solid red;
    margin-left:auto;
    margin-right: auto;
}

#navbarWrapper{
    display:none;
}


#mobilePicsWrapper{
    display:none;
}

}

@media (min-width: 1025px) and (max-width: 1280px){

.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    margin-top:20px;
    width: 8%;
    float:left; /* add this */
    display: block;
    #border: 2px solid black;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    margin-top:5%;
    display: block;
    width:1024px;
    height:576px;
    margin-left: 13%;
    margin-right: auto;
    #border: 2px solid red;
}

#carouselImg{
    display:table;
    max-width:1024px;
    max-height:576px;
    width: auto;
    height: auto;
    #border: 2px solid red;
    margin-left:auto;
    margin-right: auto;
}

#navbarWrapper{
    display:none;
}


#mobilePicsWrapper{
    display:none;
}

}

@media (min-width: 801px) and (max-width: 1024px){

.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    margin-top:20px;
    width: 8%;
    float:left; /* add this */
    display: block;
    #border: 2px solid black;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    margin-top:4%;
    display: block;
    width:1152px;
    height:648px;
    margin-left: 9%;
    margin-right: auto;
    #border: 2px solid red;
}

#carouselImg{
    display:table;
    max-width:1152px;
    max-height:648px;
    width: auto;
    height: auto;
    #border: 2px solid red;
    margin-left:auto;
    margin-right: auto;
}

#navbarWrapper{
    display:none;
}

#mobilePicsWrapper{
    display:none;
}

}

@media (min-width: 800px) and (max-width: 1024px){

.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    margin-top:20px;
    width: 8%;
    float:left; /* add this */
    display: block;
    #border: 2px solid black;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    margin-top:5%;
    display: block;
    width:896px;
    height:504px;
    margin-left: 12%;
    margin-right: auto;
    #border: 2px solid red;
}

#carouselImg{
    display:table;
    max-width:896px;
    max-height:504px;
    width: auto;
    height: auto;
    #border: 2px solid red;
    margin-left:auto;
    margin-right: auto;
}

#navbarWrapper{
    display:none;
}


#mobilePicsWrapper{
    display:none;
}

}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    display:none;

}

#navbarWrapper{
    display:block;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    display:none;
}

#mobilePicsWrapper{
    display:block;
    margin-top:5%;
}

#mobileImg{
    max-width:70%;
    display:table;
    margin-left:auto;
    margin-right:auto;
}

}

@media only screen and (min-device-width : 481px) and (max-device-width : 640px) {

.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    display:none;

}

#navbarWrapper{
    display:block;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    display:none;
}

#mobilePicsWrapper{
    display:block;
    margin-top:5%;
}

#mobileImg{
    max-width:70%;
    display:table;
    margin-left:auto;
    margin-right:auto;
}

}

@media only screen and (min-device-width : 641px) and (max-device-width : 720px) {

.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    display:none;

}

#navbarWrapper{
    display:block;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    display:none;
}

#mobilePicsWrapper{
    display:block;
    margin-top:5%;
}

#mobileImg{
    max-width:70%;
    display:table;
    margin-left:auto;
    margin-right:auto;
}

}

@media only screen and (min-device-width : 721px) and (max-device-width : 1080px) {

.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sideMenu {
    display:none;

}

#navbarWrapper{
    display:block;
}

.sideMenuText{
     color:black;
     font-size:11px;
}

.sidebarMenuTitle{
    font-size: 25px;
}

#carouselExampleSlidesOnly {
    display:none;
}

#mobilePicsWrapper{
    display:block;
    margin-top:5%;
}

#mobileImg{
    max-width:70%;
    display:table;
    margin-left:auto;
    margin-right:auto;
}

}


.navbar-brand,
.navbar-nav li a {
    line-height: 150px;
    height: 150px;
    padding-top: 0;
    font-size:30px;
    margin-left:auto;
    margin-right:auto;
}


.navbar-toggler{
    width:60px;
    height:60px;
}
